spring:
  application:
    name: secure-capita
  profiles:
    active: @spring.profiles.active@
  datasource:
    url: ${SECURECAPITA_DB_URL}
    username: ${SECURECAPITA_DB_USERNAME}
    password: ${SECURECAPITA_DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        globally_quoted_identifiers: true
        format_sql: true
    open-in-view: off
  sql:
    init:
      mode: never
      continue-on-error: false
  mail:
    host: ${SPRING_MAIL_HOST}
    port: ${SPRING_MAIL_PORT}
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  output:
    ansi:
      enabled: always
  messages:
    basename: messages
    encoding: UTF-8

application:
  title: SecureCapita
  version: 1.1

